# Build folders
bin/
obj/

# Visual Studio
.vs/

# Rider
.idea/

# User files
*.user
*.suo

# Logs
*.log

# OS files
Thumbs.db
Desktop.ini

# Publish
publish/

# NuGet
packages/

# Test Results
TestResults/

# Node
node_modules/

# Environment files
.env